<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cuci.enticement">

    <application
        android:name="com.example.enticement.BasicApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_test"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="label,allowBackup"
        tools:targetApi="n">
        <activity android:name="com.example.enticement.plate.home.activity.ProdActivity"></activity>
        <activity android:name="com.example.enticement.plate.mine.activity.MyOrderActivity"></activity>
        <activity android:name="com.example.enticement.plate.common.LoginActivity"></activity>
        <activity android:name="com.example.enticement.plate.common.RegisterActivity"></activity>
        <activity android:name="com.example.enticement.plate.cart.activity.OrderActivity"/>
        <activity android:name="com.example.enticement.plate.cart.activity.OrderDetailsActivity"/>
        <activity android:name="com.example.enticement.plate.mine.activity.ZengAddressActivity"/>
        <activity android:name="com.example.enticement.plate.common.BindPhoneActivity"/>




        <activity android:name="com.example.enticement.plate.common.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 微信SDK -->
        <activity
            android:name="com.example.enticement.wxapi.WXEntryActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true"
            android:taskAffinity="net.sourceforge.simcpux"
            android:launchMode="singleTask">
        </activity>


    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>